---
# tasks file for sa-docker
  - include: tasks_docker.yml

  - include: tasks_python.yml
    when: option_install_docker_python or ( docker_test is defined and docker_test)

  - include: tasks_docker_compose.yml
    when: option_install_docker_compose

  - include: tasks_docker_registry.yml
    when: option_install_docker_registry
