- name: install the 'Development tools' package group
  yum:
    name: "@Development tools"
    state: present
  become: yes
  when: ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux'
  tags:
    - docker-compose


- block:

  - name: Docker Compose | Detected python
    debug: var="ansible_python_version"

  - name: Docker Compose | Set fact pip to use
    set_fact:
      docker_compose_pip_executable: pip
    tags:
      - docker-compose

  - name: Check if pip is installed
    shell: command -v pip >/dev/null 2>&1
    register: pip_present
    ignore_errors: yes
    tags:
      - docker-compose

  - name: Python | install python-pip
    package:
      state: present
      name:
        - python-pip
    retries: 3
    register: result
    until: result is not failed
    when: pip_present is failed
    become: yes
    tags:
      - docker-compose

  when: preferred_python_version is version_compare('3','<')

- block:

  - name: Docker Compose | Detected python
    debug: var="ansible_python_version"

  - name: Docker Composer | Set fact pip to use (3)
    set_fact:
      docker_compose_pip_executable: pip3
    tags:
      - docker-compose

  - name: Check if pip3 is installed
    shell: command -v pip3 >/dev/null 2>&1
    register: pip_present
    ignore_errors: yes
    tags:
      - docker-compose

  - name: Python | install python3-pip
    package:
      state: present
      name:
        - python3-pip
    retries: 3
    register: result
    until: result is not failed
    when: pip_present is failed
    become: yes
    tags:
      - docker-compose

  when: preferred_python_version is version_compare('3','>=')

- name: Docker Composer | Installing pypi package using {{ docker_compose_pip_executable }}
  # pip:
  #    name: docker-compose
  #    state: present
  #    executable: "{{ docker_compose_pip_executable }}"
  shell: "{{ docker_compose_pip_executable }} install docker-compose"
  retries: 3
  register: result
  until: result is not failed
  when: docker_compose_venv_directory is not defined
  become: yes
  tags:
    - docker-compose
    - skip_ansible_lint

- name: Docker Composer | Installing pypi package in venv
  pip: name=docker-compose  virtualenv="{{ docker_compose_venv_directory }}" state=present
  retries: 3
  register: result
  until: result is not failed
  when: docker_compose_venv_directory is defined
  become: yes
  tags:
    - docker-compose
